name: Lighthouse Examples

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  Examples:
    strategy:
      matrix:
        arch: [x86_64, AArch64]

    runs-on: ${{ matrix.arch == 'AArch64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    steps:
      - uses: actions/checkout@v5

      - name: Obtain third_party dependencies
        run: |
          git submodule update --init --recursive

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project and its dependencies
        run: |
          sudo apt-get install -y llvm-dev # Obtain FileCheck, used in testing.
          uv sync --extra ingress-torch-cpu

      - name: Run lit-enabled examples as tests
        run: |
          export FILECHECK=FileCheck-18 # Ubuntu's llvm-dev appends a version number.
          uv run lit examples --verbose  # Makes sure to substitute FileCheck for $FILECHECK
